<a href="https://colab.research.google.com/github/Wondav/Data-Analysis/blob/main/Model_Init.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import StratifiedKFold,cross_val_score
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score
!pip install catboost
from catboost import CatBoostClassifier

Collecting catboost
  Downloading catboost-1.0.3-cp37-none-manylinux1_x86_64.whl (76.3 MB)
     |████████████████████████████████| 76.3 MB 25 kB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.19.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-1.0.3

In [2]:
data=pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data Analysis/data_cleaned.csv")
data.head()

   Gender  Married  Dependents  ...  Property_Area  Loan_Status   Loan_ID
0     1.0      0.0         0.0  ...            2.0          1.0  LP001002
1     1.0      1.0         1.0  ...            0.0          0.0  LP001003
2     1.0      1.0         0.0  ...            2.0          1.0  LP001005
3     1.0      1.0         0.0  ...            2.0          1.0  LP001006
4     1.0      0.0         0.0  ...            2.0          1.0  LP001008

[5 rows x 13 columns]

In [3]:
X=data.drop(['Loan_ID','Loan_Status'],axis=1)
y=data['Loan_Status']

In [4]:
fold=StratifiedKFold(n_splits=5)

model=XGBClassifier()
np.mean(cross_val_score(model,X,y,cv=fold,scoring='accuracy'))

0.7850193256030922

In [5]:
fold=StratifiedKFold(n_splits=5)

mdel=LGBMClassifier()
np.mean(cross_val_score(mdel,X,y,cv=fold,scoring='accuracy'))

0.7817806210848993

In [6]:
fold=StratifiedKFold(n_splits=5)

moel=CatBoostClassifier(verbose=False)
np.mean(cross_val_score(moel,X,y,cv=fold,scoring='accuracy'))

0.7997067839530855